body {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

#wrapper {
    place-items: center;
}

#header {
    place-items: center;
}

#header_logo {
    img {
        width: 600px;
    }
}

#header_links {
    font-family: "Schoolbell";
    font-size: 2.5em;
}

#socials_bar {
    position: absolute;
    margin-right: 820px;
    min-width: 81px;
    font-family: "Schoolbell";
    font-size: 1.2em;
}

#socials_links {
    margin-left: 25px;
    width: 25px;
    img {
        margin-top: -10px;
        width: 50px;
    }
}

#content {
    width: 700px;
    min-width: 700px;
    border: 3px solid white;
    padding: 10px;
    overflow: hidden;
}

#line1 {
    display: flex;
    flex-wrap: wrap;
    font-size:1.5em;
}
#text1 {
    width: 450px;
    min-width: 450px;

}

#photo_box {
    border: 3px solid white;
    width: 200px;
    height: 200px;
    min-width: 200px;
    max-height: 200px;
    margin-left: 41px;
    margin-top: 4px;
}

@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Schoolbell";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/schoolbell-v18-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
