@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Schoolbell";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/schoolbell-v18-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


body {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

#wrapper {
    display: grid;
    place-items: center;
}

#header {
    place-items: center;
}

#header_logo {
    img {
        width: 600px;
    }
}

#header_links {
    font-family: "Schoolbell";
    font-size: 2.5em;
    a:any-link {
        margin-left: 0.5em;
        padding-right: 0.5em;
        color: white;
        text-decoration: none;
    }
    a:hover {
        color: grey;
    }
    padding-bottom: 0.2em;
}

#socials_bar {
    position: absolute;
    margin-right: 820px;
    min-width: 81px;
    font-family: "Schoolbell";
    font-size: 1.2em;
}

#socials_links {
    margin-left: 25px;
    width: 25px;
    img {
        margin-top: -10px;
        width: 50px;
    }
    img:hover {
        filter: brightness(0.5);
    }
}

#content {
    width: 700px;
    min-width: 700px;
    border: 3px solid white;
    padding: 10px;
    overflow: hidden;
}

#portfolio_content {
    width: 700px;
    min-width: 700px;
    border: 3px solid white;
    padding: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color: gray;
}

#line1 {
    display: flex;
    flex-wrap: wrap;
    font-size:1.5em;
    padding-bottom: 10px;
}

#banner_box {
    width: 400px;
    height: 100px;
    border: 3px solid white;
}

#line2 {
    display: flex;
    flex-wrap: wrap;
    font-size:1.5em;
}
#text1 {
    width: 450px;
    min-width: 450px;
}

#photo_box {
    border: 3px solid white;
    width: 200px;
    height: 200px;
    min-width: 200px;
    max-height: 200px;
    margin-left: 41px;
    margin-top: 4px;
}

#categories_bar {
    margin-top: 2px;
    font-size: 1.3em;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: grey;
    padding-bottom: 5px;
    a {
        background-color: black;
        border: white 3px solid;
        width: fit-content;
        padding-left: 5px;
        padding-right: 5px;
        margin: 5px ;
        box-shadow: 5px 5px rgb(0 0 0 / 40%);
    }
    width: fit-content;
    height: fit-content;
    padding-right: 5px;
}

#elements {
    margin-left: 3px;
    display: flex;
    flex-direction: row;
    width: 600px;
    div {
        padding : 2px;
    }
    flex-wrap: wrap;
}

#entry {
    display: flex;
    flex-direction: column;
    border: none;
    background-color: grey;
    font-size: 0.35em;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    img{
        width: 170px;
        border: white 3px solid;
    }
    width:180px;
    align-items: center;
}

#entry:hover {
    filter: brightness(0.5);
}

#modal {
    border: white 3px solid;
    position: fixed;
    background-color: grey;
    width: 700px;
    height: 630px;
    top: 310px;
    visibility: hidden;
}
.modal_hidden {
    visibility: hidden;
}

.modal_open {
    visibility: visible;
}
