body {
    background-color: black;
    color: white;
}

#wrapper {
    place-items: center;
}

#header {
    place-items: center;
}

#header_logo {
    img {
        width: 500px;
    }
}

#header_links {
    font-family: "Schoolbell";
    font-size: 2em;
}

@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Schoolbell";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/schoolbell-v18-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
